* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

html {
  background-color: black;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 1, 5rem;
  align-items: center;
}

a {
  border-right: 2px grey solid;
  padding: 1rem;
  text-decoration: wavy;
  color: white;
  font-family: fantasy;
  font-size: 2wh;
  transition: color 0.5s;
  font-size: 40px;
}

a:hover {
  color: skyblue;
}

a:last-child {
  border: none;
}

.container {
  width: 100vw;
  height: 100vh;

  font-family: fantasy;
  font-weight: bold;
  font-size: 20px;
}

.main1 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 25%;
}

.main2 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 10% 2fr 2fr 15%;
  grid-gap: 4vh;
}

.container div {
  padding: 10px;
}

.ice {
  grid-column: 1/4;
  grid-row: 1/3;
  background-color: black;
  background-image: url(../images/ice\ logga\ utan\ bakgrund.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 90vw;
  height: 90vh;
}

.bild1 {
  grid-column: 1/2;
  grid-row: 2/4;
}

.bartender {
  width: 100%;
  height: 80%;
  background-size: 70%;
}

.bild2 {
  grid-column: 3/4;
  grid-row: 4/5;
}

.cocktail-1 {
  width: 100%;
  height: 100%;
  background-size: 70%;
}

.info {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: black;
}

.info-text {
  color: white;
  font-size: 2.5vw;
  text-align: center;
}

.maps {
  grid-column: 2/3;
  grid-row: 4/5;
  background-color: black;
}

.ice-maps {
  justify-content: center;
  width: 100%;
  height: 40vh;
  filter: invert();
  border-radius: 50px;
}

.index-footer1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
  align-items: center;
  justify-items: center;
  color: white;
}

.audio {
  display: none;
}

.meny-container {
  font-family: fantasy;
  font-weight: bold;
  font-size: 20px;
}

.food-container div {
  padding: 10px;
}

.meny {
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: black;
}

h1 {
  font-size: 6vw;
  color: white;
  text-align: center;
}

h2 {
  font-size: 50px;
  font-stretch: expanded;
}

.meny-rubrik {
  font-size: 30px;
  font-weight: bold;
  color: aqua;
}

.food-img {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: black;
}

#steak {
  width: 100%;

  background-size: 70%;
}

.food {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: black;
  color: white;
  text-align: center;
}

.dessert-img {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: black;
}

#glass {
  width: 65%;
  height: 20vw;
  padding-left: 30%;
}

.dessert {
  grid-column: 4/5;
  grid-row: 2/3;
  background-color: black;
  color: white;
  text-align: center;
}

.cocktail-img {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: black;
}

#cocktail {
  width: 90%;
  height: 20vw;
  padding-left: 20%;
}

.cocktail {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: black;
  color: white;
  text-align: center;
}

.beer-img {
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: black;
}

#beverages {
  width: 90%;
  height: 20vw;
  padding-left: 20%;
}

.beer {
  grid-column: 4/5;
  grid-row: 3/4;
  background-color: black;
  color: white;
  text-align: center;
}

.footer1 {
  grid-column: 2/3;
  grid-row: 4/5;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 20px;
}

#kontakt {
  padding-top: 50px;
}

.footer2 {
  grid-column: 3/4;
  grid-row: 4/5;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 30px;
}

.boka-bord-html {
  background-image: url(../images/bar-background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.form-container {
  width: 100vw;
  height: 88xvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 24px;
  display: flex;
  column-gap: 32px;
  flex-direction: column;
  background-color: grey;
  width: 100%;
  max-width: 768px;
  opacity: 0.7;
  border-radius: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 30px;
}

.field-label {
  display: block;
}

.field-input {
  border-radius: 8px;
  display: block;
  font-size: 18px;
  padding: 16px;
}

.button {
  padding: 16px;
  flex-shrink: 1;
  flex-grow: 0;
  font-size: 30px;
  font-family: fantasy;
  margin-top: 64px;
}
